@import "../../styles/variables";

.texts{
    display: flex;
    flex-direction: column;
}

.h1__title{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    font-family: $text-font;
    color: $text--color;
    font-size: 26px;
}

.h1__texts{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    font-family: $text-font;
    color: $text--color;
    font-size: 22px;
}