@import "../../styles/variables";

.main__header{
    color: $text--color;
    display: flex;
    background-color: $component--color;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));;
    border-radius: 0 0 10px 10px;

    font-family: $text-font;
}